@import "vars"
@import "libs"
@import "global"

.header-menu__list
	display: flex
	user-select: none
	li
		position: relative
		transition: all .3s linear
		background-color: #fff
		div
			padding: 6px 16px
			transition: all .3s ease
			cursor: pointer
			font-size: 18px
			&.submenu__block
				padding-right: 22px
		&:hover
			background-color: lighten($accent, 25%)
			> .submenu
				visibility: visible
				opacity: 1
				transform: translateY(0)
		&:not(:hover)
			.submenu
				pointer-events: none

.submenu
	position: absolute
	transform: translateY(10px)
	transition: all .3s ease-in-out
	white-space: nowrap
	visibility: hidden
	opacity: 0
	z-index: 5
	li
		border-top: 1px solid #ecf1f2
		&:hover
			border-top: 1px solid lighten($accent, 25%)
		&.disabled
			border-top: 1px solid #ecf1f2
	div:hover
		transform: translateX(5px)
	&__block
		background-image: url(../img/arrow-right.svg)
		background-repeat: no-repeat
		background-position: right center
		background-size: 10px
		margin-right: 12px
	.submenu
		position: absolute
		top: 0
		left: 100%
		margin-top: -1px

.content
	display: flex
	height: calc(100vh - 36px)
	position: relative
	&__scene
		flex-basis: 75%
	&__interface
		flex-basis: 25%

.interface
	display: flex
	flex-direction: column
	padding: 0 15px
	font-size: 19px
	&__buttons
		display: flex
		margin-bottom: 30px
	&__parameters
		margin-bottom: auto
	&__timer
		margin: 0 -15px auto
	&__logo
		margin-bottom: 10px
		display: flex
		justify-content: center
		img
			height: 100px
			object-fit: contain

.parameters
	&__wrapper
		display: flex
		flex-direction: column
		margin-bottom: 10px

.timer
	padding: 30px 15px
	border-top: 2px solid #bbb
	border-bottom: 2px solid #bbb
	&__text
		margin-bottom: 25px
		text-align: center
		font-size: 26px
		span
			font-family: 'B612 Mono', monospace
	&__buttons
		display: flex

.popup
	position: fixed
	visibility: hidden
	opacity: 0
	transition: opacity .4s, visibility .4s
	z-index: 100
	overflow: hidden
	background-color: transparent
	box-shadow: 0 5px 25px rgba(#000, .4)
	border-radius: 10px
	border: 1px solid #356aa0
	&.active
		visibility: visible
		opacity: 1
		transition: opacity .4s, visibility .4s

.handle
	padding: 7px 10px 7px 38px
	font-size: 18px
	background-color: #ededed
	cursor: pointer
	user-select: none
	position: relative
	&::before
		content: ''
		background-image: url(../img/icon-small.jpg)
		background-repeat: no-repeat
		background-position: left center
		background-size: 18px
		position: absolute
		top: 10px
		left: 10px
		width: 18px
		height: 18px
		border-radius: 5px

.close
	cursor: pointer
	width: 24px
	height: 24px
	padding: 5px
	background: none
	border: 0
	position: absolute
	top: 8px
	right: 10px
	user-select: none

.plot
	height: 600px
	width: 600px
	border-radius: 0
	border: 0
	background-color: #fff



























@import "media"